@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Room List</h1>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        Room Name
                    </th>
                    <th scope="col">
                        Capacity
                    </th>
                    <th scope="col">
                        Description
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
