@model IEnumerable<MeetingRoomWebApp.AutoGen.Room>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Room List</h1>
    <div>
        <table class="table table-hover">
            <thead>
                <tr style="background-color: rgba(230, 230, 230, 0.659);">
                    <th scope="col">
                        Room ID
                    </th>
                    <th scope="col">
                        Room Name
                    </th>
                    <th scope="col">
                        Capacity
                    </th>
                    <th scope="col">
                        Description
                    </th>
                </tr>
            </thead>
            
            @foreach (var room in Model)
            {
                <tbody>
                <tr>
                    <td scope="col">
                        @room.RoomId
                    </td>
                    <td scope="col">
                        @room.RoomName
                    </td>
                    <td scope="col">
                        @room.Capacity
                    </td>
                    <td scope="col">
                        @room.Description
                    </td>
                </tr>
                </tbody>
            }
        </table>
    </div>
</div>
