
@{
    ViewBag.Title = "Home";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<main> 
    <div class="text-center">
        <h1 class="display-4">Calendar</h1>
        <div class="container rounded bg-white mt-5"></div>
        <div class="mx-auto" style="max-width: 600px;"></div>
            
                
        </div>
    </div>
</main>
<script>
    $("#datepicker").datepicker({
        minDate: 0
    });

    var now = new Date();
    $('#timepicker').timepicker({ 
        timeFormat: 'hh:mm p',
        minTime: now,
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });

    $('#timepicker2').timepicker({ 
        timeFormat: 'hh:mm p',
        minTime: now,
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
</script>