
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
   
}
<main> 
    <div class="container">
        <div class="mb-3">
            <form class="form-inline">
                <div class="form-group gap-1 mr-3">
                    <label for="Room" class="gap-3">Room Capacity:</label>
                </div>
            </form>
        </div>
    </div>
</main>