@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Room Booking App PSL Building</h1>
    <p class="lead text-light mb-5">Find the perfect room for your Meeting</p>
    <a class ="btn btn-primary btn-lg" asp-controller="Room" asp-action="Index">Explore</a>      
